In [4]:
# Import BeautifulSoup for parsing and splinter for site navigation
import numpy as np
import pandas as pd
from splinter import Browser
from selenium import webdriver
from bs4 import BeautifulSoup as bs
import requests as req
import time
executable_path = {"executable_path": "C:/chromedrv/chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [5]:
#Get the NASA news URL
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [6]:
# Scrape page into soup
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [11]:
# save the most recent article, title and date
article = soup.find("div", class_="list_text")
news_p = article.find("div", class_="article_teaser_body").text
news_title = article.find("div", class_="content_title").text
news_date = article.find("div", class_="list_date").text
print(news_date)
print(news_title)
print(news_p)

May 23, 2019
NASA's Mars 2020 Gets a Dose of Space Here on Earth
NASA's Mars 2020 spacecraft has completed tests that are the best Earthly approximations of what the spacecraft will endure during launch and interplanetary cruise.

In [13]:
# Go to the JPL Mars URL
url2 = "https://jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url2)

# Scrape the browser into soup and use soup to find the image of mars and save the image url to a variable called `img_url`
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
image = soup.find("img", class_="thumb")["src"]
img_url = "https://jpl.nasa.gov"+image
featured_image_url = img_url

In [15]:
# Utilize the requests library to download and save the image from the `img_url` above
import shutil
response = req.get(img_url, stream=True)
with open('img.jpg', 'wb') as out_file:
    shutil.copyfileobj(response.raw, out_file)
    
# Display with IPython.display
from IPython.display import Image
Image(url='img.jpg')

In [19]:
# Getting the tweets about the weather on Mars
url3 = 'https://twitter.com/marswxreport?lang=en'
response = req.get(url3)

In [34]:
weather_soup = bs(response.text, 'html.parser')
mars_weather_tweet = weather_soup.find_all('div', class_ = "js-tweet-text-container")

In [40]:
for tweet in mars_weather_tweet:
    if tweet.text.strip().startswith('Sol'):
                mars_weather = tweet.text.strip()

In [42]:
#Mars Facts
url4 = 'https://space-facts.com/mars/'
browser.visit(url4)

In [44]:
mars_df = pd.read_html(url4)
mars_df = (mars_df[0])

In [46]:
mars_df.columns = ["Description", "Value"]
mars_df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [57]:
marsdata = mars_table.to_html(classes='marsdata')
marsdata=marsdata.replace('\n', ' ')
marsdata

'<table border="1" class="dataframe marsdata">   <thead>     <tr style="text-align: right;">       <th></th>       <th>Data</th>       <th>placeholder</th>     </tr>     <tr>       <th>Mars</th>       <th></th>       <th></th>     </tr>   </thead>   <tbody>     <tr>       <th>United States</th>       <td>40404</td>       <td>(any)</td>     </tr>     <tr>       <th>Canada</th>       <td>21212</td>       <td>(any)</td>     </tr>     <tr>       <th>United Kingdom</th>       <td>86444</td>       <td>Vodafone, Orange, 3, O2</td>     </tr>     <tr>       <th>Brazil</th>       <td>40404</td>       <td>Nextel, TIM</td>     </tr>     <tr>       <th>Haiti</th>       <td>40404</td>       <td>Digicel, Voila</td>     </tr>     <tr>       <th>Ireland</th>       <td>51210</td>       <td>Vodafone, O2</td>     </tr>     <tr>       <th>India</th>       <td>53000</td>       <td>Bharti Airtel, Videocon, Reliance</td>     </tr>     <tr>       <th>Indonesia</th>       <td>89887</td>       <td>AXIS, 3, Telkomsel, Indosat, XL Axiata</td>     </tr>     <tr>       <th>Italy</th>       <td>4880804</td>       <td>Wind</td>     </tr>     <tr>       <th>3424486444</th>       <td>Vodafone</td>       <td>NaN</td>     </tr>     <tr>       <th>» See SMS short codes for other countries</th>       <td>NaN</td>       <td>NaN</td>     </tr>   </tbody> </table>'